body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
}

/* NAVBAR */
.navbar {
    background: #2e8b57;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.navbar .nav-links a {
    margin: 0 10px;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
/* PAGE STYLING */
.page {
    display: none;
    padding: 20px;
}
.page.active {
    display: block;
}
/* HERO IMAGE */
.hero {
    background: url('clinic.avif') center/cover no-repeat;
    height: 250px;
    color: rgb(189, 56, 219);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* INPUTS AND BUTTONS */
input, textarea {
    display: block;
    margin: 10px 0;
    padding: 8px;
    width: 250px;
}
button {
    padding: 8px 12px;
    background: #2e8b57;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background: #246b45;
}

/* MESSAGES */
.message {
    color: red;
    font-weight: bold;
}

/* DOCTORS CARDS */
.doctors {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}
.doctors .card {
    background: white;
    padding: 10px;
    width: 200px;
    border-radius: 8px;
    text-align: center;
}
.doctors .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
}

/* APPOINTMENTS TABLE */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
table, th, td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: left;
}

/* FOOTER */
.footer {
    background: #222;
    color: white;
    padding: 30px 20px;
}
.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-content div {
    margin: 10px;
}
.footer h3, .footer h4 {
    margin-bottom: 10px;
}
.footer p {
    margin: 5px 0;
    font-size: 14px;
}
.footer hr {
    border: 0.5px solid gray;
    margin: 20px 0;
}
.footer .copyright {
    text-align: center;
    font-size: 13px;
}
